:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
}

.special-heading {
  color: #b2b4b6;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0;
    font-size: 15px;
    text-align: center;
    color: #797979;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* start header  */

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}

.header .links ul {
  margin: 0;
  position: absolute;
  right: 0;
  padding: 0;
  list-style: none;
  min-width: 200px;
  background-color: #f6f6f6;
  top: calc(100% + 20px);
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -20px;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: solid 1px #ddd;
}

/* end header header  */
/* Start landing section  */

.landing {
  height: calc(100vh - 64px);
  background-image: url("../assets/Landing.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .intro-text {
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 50px;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

/* End landing section  */

/* Start Features section */

.features {
  padding: 60px 0px;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  font-size: 30px;
  color: var(--main-color);
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/* end Features section */
/* Start services section */

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 30px;
}

.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
  font-size: 30px;
}

.services .services-content .srv .text {
  flex: 1;
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
  line-height: 1.6;
  font-weight: 300;
}

.services .services-content .srv .text p {
  color: #777;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.image-column .image img {
  width: 300px;
  height: 360px;
}

.image-column .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 80px);
  top: calc(-80px / 2);
  right: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .image-column {
    display: none;
  }
}

/* end services section */

/* start portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f0f0f0;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.portfolio .portfolio-content .card {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.portfolio .portfolio-content .card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
/* end portfolio */
.about {
  padding-top: 60px;
  padding-bottom: 120px;
}

.about .about-content {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #caccce;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.image::after {
  content: "";
}

.about .about-content .image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-content .text {
  flex-basis: calc(100% - 400px);
  padding: 30px;
}

@media (max-width: 991px) {
  .about .about-content {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

/* start contact  */

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact .contact-info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact .contact-info .label {
  font-size: 30px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .contact-info .link {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact .contact-info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .contact-info .social  i {
  margin-left: 10px;
  color: var(--secondary-color);

}

.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}